* {
  /* 初始化，取消页面内外边距 */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 让页面始终占浏览器总高 */
  height: 100vh;
  background-color: #1c1f2f;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border: 20px solid transparent;
  border-bottom-color: #06c8f0;
  border-right-color: #06c8f0;
  border-radius: 50%;
  /* 顺时针旋转45°可以得到半圆 */
  transform: rotate(45deg);

  animation: move 2s ease-in-out infinite alternate;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: move-reverse 2s ease-in-out infinite alternate;
}
.ball::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.container {
  /* 加上倒影 */
  -webkit-box-reflect: below 5px -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.5));
}

/* 定义动画 */
@keyframes move {
  /* 顺时针90% */
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}
@keyframes move-reverse {
  /* 逆时针180% */
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}
